/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Lato', sans-serif;
  position: relative; }

img {
  width: 100px;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 2s;
  transition: width 0.5s, height 0.5s, transform 2s; }
  img:hover {
    width: 105px;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 2s;
    transition: width 0.5s, height 0.5s, transform 2s; }

.headline {
  box-sizing: border-box;
  background-color: #00A030;
  /*rgba(13, 6, 48, 1)*/
  height: 80ex; }
  .headline h1 {
    background-color: #00A030;
    /*rgba(13, 6, 48, 1)*/
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    font-size: 5em;
    padding-top: 5ex;
    line-height: 0.5ex;
    -webkit-transition: width 2s, height 2s, padding 2s, font-size 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, padding 2s, font-size 2s, transform 2s; }
    .headline h1.gone {
      color: #00A030;
      width: 0;
      height: 0;
      padding: 0;
      font-size: 0;
      -webkit-transition: width 2s, height 2s, padding 2s, font-size 2s, -webkit-transform 2s;
      transition: width 2s, height 2s, padding 2s, font-size 2s, transform 2s;
      transition-timing-function: ease; }
  .headline article {
    width: 50%;
    margin-left: 25%; }
    .headline article p {
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 100;
      text-align: center;
      line-height: 2ex; }
    .headline article svg {
      width: 35px;
      height: 35px;
      fill: white;
      margin-left: 1em; }
    .headline article img {
      width: 35px;
      height: 35px;
      fill: white;
      margin-left: 1em; }
    .headline article .email {
      margin-left: 0; }

.nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 50%;
  margin-left: 50%; }
  .nav li {
    display: block;
    float: right;
    margin-right: 3em;
    list-style: none;
    padding-left: 0; }
    .nav li a {
      text-decoration: none;
      color: #00A030;
      /*rgba(13, 6, 48, 1)*/
      font-weight: 100;
      padding: 2px;
      border: 1px solid #00A030;
      border-radius: 3px; }

.about {
  height: 80ex; }

.portfolio {
  height: 80ex; }

.resume {
  height: 80ex; }

.contact {
  background-color: #00A030;
  /*rgba(13, 6, 48, 1)*/
  height: 80ex; }

.col-1-3 {
  width: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-3 {
  margin-left: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-3 {
  width: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-3 {
  margin-left: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-3 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-3 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-1-4 {
  width: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-4 {
  margin-left: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-4 {
  width: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-4 {
  margin-left: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-4 {
  width: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-4 {
  margin-left: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-4-4 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-4-4 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-1-6 {
  width: 16.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-6 {
  margin-left: 16.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-6 {
  width: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-6 {
  margin-left: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-6 {
  width: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-6 {
  margin-left: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-4-6 {
  width: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-4-6 {
  margin-left: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-5-6 {
  width: 83.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-5-6 {
  margin-left: 83.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-6-6 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-6-6 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-1-8 {
  width: 12.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-8 {
  margin-left: 12.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-8 {
  width: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-8 {
  margin-left: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-8 {
  width: 37.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-8 {
  margin-left: 37.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-4-8 {
  width: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-4-8 {
  margin-left: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-5-8 {
  width: 62.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-5-8 {
  margin-left: 62.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-6-8 {
  width: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-6-8 {
  margin-left: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-7-8 {
  width: 87.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-7-8 {
  margin-left: 87.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-8-8 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-8-8 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-1-12 {
  width: 8.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-12 {
  margin-left: 8.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-12 {
  width: 16.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-12 {
  margin-left: 16.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-12 {
  width: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-12 {
  margin-left: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-4-12 {
  width: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-4-12 {
  margin-left: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-5-12 {
  width: 41.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-5-12 {
  margin-left: 41.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-6-12 {
  width: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-6-12 {
  margin-left: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-7-12 {
  width: 58.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-7-12 {
  margin-left: 58.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-8-12 {
  width: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-8-12 {
  margin-left: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-9-12 {
  width: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-9-12 {
  margin-left: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-10-12 {
  width: 83.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-10-12 {
  margin-left: 83.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-11-12 {
  width: 91.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-11-12 {
  margin-left: 91.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-12-12 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-12-12 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
