/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Lato', sans-serif;
  position: relative; }
  body .container .nav {
    box-sizing: border-box;
    position: absolute;
    top: -6ex;
    width: 50%;
    margin-left: 50%; }
    body .container .nav li {
      display: block;
      float: right;
      margin-right: 2em;
      list-style: none;
      padding-left: 0; }
      body .container .nav li a[href] {
        text-decoration: none;
        color: #00A030;
        font-weight: 100;
        padding: 0.5ex 0.5em;
        border: 1px solid #00A030;
        border-radius: 3px; }
  body .headline {
    box-sizing: border-box;
    background-color: #00A030;
    /*rgba(13, 6, 48, 1)*/
    height: 100vh; }
    body .headline h1 {
      background-color: #00A030;
      /*rgba(13, 6, 48, 1)*/
      text-align: center;
      color: #ffffff;
      font-weight: 100;
      font-size: 5em;
      padding-top: 5ex;
      line-height: 0.5ex; }
    body .headline article {
      width: 50%;
      margin-left: 25%; }
      body .headline article p {
        color: #ffffff;
        font-size: 1.5em;
        font-weight: 100;
        text-align: center;
        line-height: 2ex; }
      body .headline article svg {
        width: 35px;
        height: 35px;
        fill: white;
        margin-left: 1em; }
      body .headline article img {
        width: 35px;
        height: 35px;
        fill: white;
        margin-left: 1em; }
      body .headline article .email {
        margin-left: 0; }

.col-1-3 {
  width: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-3 {
  margin-left: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-3 {
  width: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-3 {
  margin-left: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-3 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-3 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-1-4 {
  width: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-4 {
  margin-left: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-4 {
  width: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-4 {
  margin-left: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-4 {
  width: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-4 {
  margin-left: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-4-4 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-4-4 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-1-6 {
  width: 16.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-6 {
  margin-left: 16.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-6 {
  width: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-6 {
  margin-left: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-6 {
  width: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-6 {
  margin-left: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-4-6 {
  width: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-4-6 {
  margin-left: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-5-6 {
  width: 83.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-5-6 {
  margin-left: 83.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-6-6 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-6-6 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-1-8 {
  width: 12.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-8 {
  margin-left: 12.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-8 {
  width: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-8 {
  margin-left: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-8 {
  width: 37.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-8 {
  margin-left: 37.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-4-8 {
  width: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-4-8 {
  margin-left: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-5-8 {
  width: 62.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-5-8 {
  margin-left: 62.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-6-8 {
  width: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-6-8 {
  margin-left: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-7-8 {
  width: 87.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-7-8 {
  margin-left: 87.5%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-8-8 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-8-8 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-1-12 {
  width: 8.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-1-12 {
  margin-left: 8.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-2-12 {
  width: 16.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-2-12 {
  margin-left: 16.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-3-12 {
  width: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-3-12 {
  margin-left: 25%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-4-12 {
  width: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-4-12 {
  margin-left: 33.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-5-12 {
  width: 41.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-5-12 {
  margin-left: 41.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-6-12 {
  width: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-6-12 {
  margin-left: 50%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-7-12 {
  width: 58.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-7-12 {
  margin-left: 58.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-8-12 {
  width: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-8-12 {
  margin-left: 66.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-9-12 {
  width: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-9-12 {
  margin-left: 75%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-10-12 {
  width: 83.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-10-12 {
  margin-left: 83.33333%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-11-12 {
  width: 91.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-11-12 {
  margin-left: 91.66667%;
  box-sizing: border-box;
  display: block;
  float: left; }

.col-12-12 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

.pad-12-12 {
  margin-left: 100%;
  box-sizing: border-box;
  display: block;
  float: left; }

body .about {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  padding-top: 5ex; }
  body .about .nav {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 50%; }
    body .about .nav li {
      display: block;
      float: right;
      margin-right: 2em;
      list-style: none;
      padding-left: 0; }
      body .about .nav li a[href] {
        text-decoration: none;
        color: #00A030;
        font-weight: 100;
        padding: 0.5ex 0.5em;
        border: 1px solid #00A030;
        border-radius: 3px; }
        body .about .nav li a[href].this-one {
          background-color: #00A030;
          color: #fff;
          border: 1px solid #00A030;
          border-radius: 3px; }
  body .about article {
    padding-top: 0.5ex;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; }
    body .about article a {
      text-decoration: none;
      color: #00A030;
      padding: 2px;
      border-radius: 3px; }
      body .about article a:hover {
        text-decoration: underline; }
    body .about article ul {
      width: 50%;
      color: #000;
      font-size: 1.2em;
      font-weight: 100;
      text-align: left;
      margin-top: 10ex;
      margin-left: 25%;
      padding-top: 5ex;
      padding-bottom: 5ex;
      padding-left: 5em;
      list-style: none;
      border-left: 2px solid #00A030;
      border-bottom: 2px solid #00A030;
      border-radius: 20px; }
      body .about article ul li {
        font-size: 1.2em; }
    body .about article img {
      position: absolute;
      top: 34ex;
      left: 75%;
      width: 12em;
      border-radius: 50%;
      border: 2px solid #00A030; }
  body .about .name {
    box-sizing: border-box;
    width: 85%;
    float: right;
    margin-right: 0;
    margin-top: 2ex;
    margin-bottom: 1ex;
    padding-left: 1em;
    text-align: left;
    color: #fff;
    font-weight: 300;
    font-size: 3em;
    background-color: #00A030; }
  body .about .email {
    display: inline;
    width: 35px;
    height: 35px;
    margin: 0;
    padding-bottom: 10px; }

body .portfolio {
  position: relative;
  padding-top: 5ex;
  padding-bottom: 5ex;
  margin-top: 1ex; }
  body .portfolio .nav {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 50%; }
    body .portfolio .nav li {
      display: block;
      float: right;
      margin-right: 2em;
      list-style: none;
      padding-left: 0; }
      body .portfolio .nav li a {
        text-decoration: none;
        color: #00A030;
        font-weight: 100;
        padding: 0.5ex 0.5em;
        border: 1px solid #00A030;
        border-radius: 3px; }
        body .portfolio .nav li a.this-one {
          background-color: #00A030;
          color: #fff;
          border: 1px solid #00A030;
          border-radius: 3px; }
  body .portfolio .name {
    box-sizing: border-box;
    display: block;
    width: 75%;
    margin-top: 2ex;
    margin-bottom: 3ex;
    padding-right: 1em;
    text-align: right;
    color: #fff;
    font-weight: 300;
    font-size: 3em;
    background-color: #00A030; }
  body .portfolio .port-left {
    box-sizing: border-box;
    width: 66.66667%;
    margin-right: 16.66667%;
    margin-left: 16.66667%;
    border: 2px solid #00A030; }
    body .portfolio .port-left .heading {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 2ex 2em; }
      body .portfolio .port-left .heading img {
        box-sizing: border-box;
        width: 20ex;
        height: 20ex;
        border-radius: 50%;
        margin-left: 0;
        border: 2px solid #00A030; }
      body .portfolio .port-left .heading h3 {
        text-align: left;
        color: #00A030;
        font-weight: 100;
        font-size: 1.5em;
        line-height: 0; }
      body .portfolio .port-left .heading h4 {
        text-align: left;
        color: #00A030;
        font-weight: 100;
        font-size: 1em;
        line-height: 0; }
        body .portfolio .port-left .heading h4 a {
          text-decoration: none;
          color: #00A030; }
          body .portfolio .port-left .heading h4 a:hover {
            text-decoration: underline; }
    body .portfolio .port-left .overview {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 2.5ex 2.5em; }
      body .portfolio .port-left .overview p {
        color: #000;
        font-size: 0.9em; }
        body .portfolio .port-left .overview p a[href] {
          text-decoration: none;
          color: #00A030; }
          body .portfolio .port-left .overview p a[href]:hover {
            text-decoration: underline; }
  body .portfolio .port-left::after {
    content: "";
    display: table;
    clear: both; }
  body .portfolio .port-right::after {
    content: "";
    display: table;
    clear: both; }
  body .portfolio .port-right {
    box-sizing: border-box;
    width: 66.66667%;
    margin-right: 16.66667%;
    margin-left: 16.66667%; }
    body .portfolio .port-right .overview {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 2ex 2.5em; }
      body .portfolio .port-right .overview p {
        height: 21.5ex;
        color: #000;
        font-size: 0.9em; }
        body .portfolio .port-right .overview p a[href] {
          text-decoration: none;
          color: #00A030; }
          body .portfolio .port-right .overview p a[href]:hover {
            text-decoration: underline; }
    body .portfolio .port-right .heading {
      box-sizing: border-box;
      width: 50%;
      float: right;
      padding: 3ex 2em;
      border-left: 2px solid #00A030;
      height: 34.5ex; }
      body .portfolio .port-right .heading img {
        box-sizing: border-box;
        width: 20ex;
        height: 20ex;
        border-radius: 50%;
        margin-left: 0;
        border: 2px solid #00A030; }
      body .portfolio .port-right .heading h3 {
        text-align: left;
        color: #00A030;
        background-color: #fff;
        font-weight: 100;
        font-size: 1.5em;
        line-height: 0; }
      body .portfolio .port-right .heading h4 {
        text-align: left;
        color: #00A030;
        font-weight: 100;
        font-size: 1em;
        line-height: 0; }
        body .portfolio .port-right .heading h4 a {
          text-decoration: none;
          color: #00A030; }
          body .portfolio .port-right .heading h4 a:hover {
            text-decoration: underline; }

body .resume {
  width: 100%;
  position: relative;
  display: block;
  padding-top: 5ex;
  padding-bottom: 5ex;
  margin-top: 1ex; }
  body .resume .name {
    font-size: 2.5em; }
  body .resume .nav {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 50%; }
    body .resume .nav li {
      display: block;
      float: right;
      margin-right: 2em;
      list-style: none;
      padding-left: 0; }
      body .resume .nav li a[href] {
        text-decoration: none;
        color: #00A030;
        font-weight: 100;
        padding: 0.5ex 0.5em;
        border: 1px solid #00A030;
        border-radius: 3px; }
        body .resume .nav li a[href].this-one {
          background-color: #00A030;
          color: #fff;
          border: 1px solid #00A030;
          border-radius: 3px; }
  body .resume .name {
    box-sizing: border-box;
    width: 100%;
    float: right;
    margin-right: 0;
    margin-top: 2ex;
    margin-bottom: 1ex;
    padding-left: 1em;
    text-align: left;
    color: #fff;
    font-weight: 300;
    font-size: 3em;
    background-color: #00A030; }
    body .resume .name svg {
      width: 35px;
      height: 35px;
      fill: white;
      margin-left: 0.25em;
      padding-bottom: 0.25ex; }
    body .resume .name img {
      width: 35px;
      height: 35px;
      fill: white;
      margin-left: 0.25em;
      padding-bottom: 0.25ex; }
    body .resume .name .email {
      margin-left: 1em; }
  body .resume article {
    width: 100%;
    margin-left: auto;
    font-size: 1em; }
    body .resume article h3 {
      width: 100%;
      text-align: center;
      color: #00A030;
      font-weight: 100;
      font-size: 1.5em;
      line-height: 0; }
    body .resume article p {
      text-align: center; }
      body .resume article p span {
        color: #00A030; }
    body .resume article .jobs {
      width: 100%;
      font-size: 1em; }
      body .resume article .jobs h4 {
        padding-top: 2ex;
        text-align: center;
        color: #00A030;
        font-weight: 100;
        line-height: 0;
        border-top: 1px solid #00A030; }
      body .resume article .jobs p {
        line-height: 0;
        font-size: 1em; }
  body .resume .list-o-things {
    display: block;
    width: 75%;
    margin-left: 25%;
    margin-bottom: 2ex; }

body .contact {
  box-sizing: border-box;
  display: block;
  clear: both;
  background-color: #00A030;
  /*rgba(13, 6, 48, 1)*/
  height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 0; }
  body .contact h1 {
    background-color: #00A030;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    font-size: 5em;
    padding-top: 5ex;
    line-height: 0.5ex; }
  body .contact article {
    width: 50%;
    margin-left: 25%; }
    body .contact article p {
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 100;
      text-align: center;
      line-height: 2ex; }
    body .contact article svg {
      width: 55px;
      height: 55px;
      fill: white;
      margin-left: 1em; }
    body .contact article img {
      width: 55px;
      height: 55px;
      fill: white;
      margin-left: 1em; }
    body .contact article .email {
      margin-left: 0; }
    body .contact article .van {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0; }
      body .contact article .van li {
        display: block;
        float: right;
        margin-right: 2em;
        list-style: none;
        padding-left: 0; }
        body .contact article .van li a[href] {
          text-decoration: none;
          color: #fff;
          /*rgba(13, 6, 48, 1)*/
          font-weight: 100;
          padding: 0.5ex 0.5em;
          border: 1px solid #fff;
          border-radius: 3px; }
          body .contact article .van li a[href].this-one {
            background-color: #fff;
            color: #00A030;
            border: 1px solid #fff;
            border-radius: 3px; }

@media (max-width: 68.45em) {
  body .container .headline {
    height: 60ex; }
    body .container .headline h1 {
      padding-top: 1.75ex; }
  body .container .nav li {
    margin-right: 1em; }
    body .container .nav li a[href] {
      padding: 0.25ex 0.25em; }
  body .container .about .nav li {
    margin-right: 1em; }
    body .container .about .nav li a[href] {
      padding: 0.25ex 0.25em; }
  body .container .about article ul {
    padding-top: 3ex;
    padding-bottom: 3ex;
    padding-left: 3em; }
  body .container .about article img {
    top: 38ex;
    width: 10em; }
  body .container .portfolio .nav li {
    margin-right: 1em; }
    body .container .portfolio .nav li a {
      padding: 0.25ex 0.25em; }
  body .container .portfolio .port-left .overview {
    padding: 1ex 2.5em; }
  body .container .portfolio .port-right .overview {
    padding: 1ex 2.5em; }
  body .container .resume .nav li {
    margin-right: 1em; }
    body .container .resume .nav li a[href] {
      padding: 0.25ex 0.25em; }
  body .container .resume article .jobs {
    padding: 1ex 10%;
    font-size: 0.9em; }
    body .container .resume article .jobs p {
      font-size: 0.9em; }
  body .container .resume .list-o-things {
    width: 100%;
    margin-left: 0; }
  body .container .contact article .van li {
    margin-right: 1em; }
    body .container .contact article .van li a[href] {
      padding: 0.25ex 0.25em; } }

@media (max-width: 55.25em) {
  body .container .headline {
    height: 60ex; }
    body .container .headline h1 {
      padding-top: 1.75ex; }
  body .container .nav {
    width: 75%;
    margin-left: 25%; }
  body .container .about {
    margin-bottom: 10ex; }
    body .container .about .nav {
      width: 75%;
      margin-left: 25%; }
    body .container .about article {
      margin-left: 0; }
      body .container .about article img {
        top: 31ex;
        width: 8em;
        left: 55%; }
      body .container .about article a {
        padding: 0; }
      body .container .about article ul {
        font-size: 1em;
        margin-left: 20%;
        padding-top: 1ex;
        padding-bottom: 1ex;
        padding-left: 1em; }
        body .container .about article ul li {
          font-size: 1em; }
  body .container .portfolio .nav {
    width: 75%;
    margin-left: 25%; }
  body .container .portfolio .port-left {
    box-sizing: inherit;
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-top: 3ex;
    border: 0;
    border-bottom: 2px solid #00A030; }
    body .container .portfolio .port-left .overview {
      width: 66.66667%;
      padding: 1ex 1em 0;
      border: 0; }
      body .container .portfolio .port-left .overview p {
        font-size: 0.8em; }
    body .container .portfolio .port-left .heading {
      width: 33.33333%;
      padding: 1ex 0 0;
      background-color: #fff;
      border: 0; }
      body .container .portfolio .port-left .heading img {
        width: 50%;
        height: auto;
        margin-left: 25%;
        margin-top: 2ex;
        border-radius: 0; }
      body .container .portfolio .port-left .heading h3 {
        text-align: center;
        font-size: 1.25em;
        color: #00A030; }
      body .container .portfolio .port-left .heading h4 {
        text-align: center;
        font-size: 0.8em;
        color: #00A030; }
        body .container .portfolio .port-left .heading h4 a {
          color: #00A030; }
  body .container .portfolio .port-right {
    box-sizing: inherit;
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-top: 3ex;
    border: 0;
    border-bottom: 2px solid #00A030; }
    body .container .portfolio .port-right .overview {
      width: 66.66667%;
      padding: 1ex 1em 0;
      border: 0; }
      body .container .portfolio .port-right .overview p {
        font-size: 0.8em; }
    body .container .portfolio .port-right .heading {
      width: 33.33333%;
      padding: 1ex 0 0;
      background-color: #fff;
      border: 0; }
      body .container .portfolio .port-right .heading img {
        width: 50%;
        height: auto;
        margin-left: 25%;
        margin-top: 2ex;
        border-radius: 0; }
      body .container .portfolio .port-right .heading h3 {
        text-align: center;
        font-size: 1.25em;
        color: #00A030; }
      body .container .portfolio .port-right .heading h4 {
        text-align: center;
        font-size: 0.8em;
        color: #00A030; }
        body .container .portfolio .port-right .heading h4 a {
          color: #00A030; }
  body .container .resume {
    clear: both; }
    body .container .resume .nav {
      width: 75%;
      margin-left: 25%; }
    body .container .resume .name {
      padding-left: 0.5em; }
      body .container .resume .name .email {
        margin-left: 0.25em; }
    body .container .resume article {
      width: 90%;
      margin-left: 5%;
      margin-bottom: 5ex;
      font-size: 0.9em; }
      body .container .resume article:first-of-type {
        padding-top: 20ex; }
      body .container .resume article .jobs {
        width: 100%;
        margin-top: 0;
        padding: 0 2em;
        height: 100%; }
        body .container .resume article .jobs:first-of-type h4 {
          padding-top: 0; }
        body .container .resume article .jobs h4 {
          line-height: 1ex;
          padding-top: 3ex;
          padding-bottom: 1ex;
          border-top: 0;
          border-bottom: 1px solid #00A030; }
        body .container .resume article .jobs p {
          line-height: 1ex; }
        body .container .resume article .jobs:nth-of-type(odd) {
          border: 0; }
        body .container .resume article .jobs:nth-of-type(2) {
          border: 0; }
        body .container .resume article .jobs:nth-of-type(even) {
          border: 0; }
  body .container .contact h1 {
    font-size: 4em; }
  body .container .contact article svg {
    width: 35px;
    height: 35px; }
  body .container .contact article img {
    width: 35px;
    height: 35px; }
  body .container .contact article .van {
    width: 75%;
    margin-left: 25%; } }

@media (max-width: 30em) {
  body .container .top-menu {
    width: 100%; }
    body .container .top-menu .nav {
      box-sizing: border-box;
      position: absolute;
      top: -6ex;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
      body .container .top-menu .nav li {
        float: right;
        margin-right: 0;
        width: 25%;
        text-align: center; }
        body .container .top-menu .nav li a[href] {
          font-weight: 400;
          padding: 0;
          border: 0; }
        body .container .top-menu .nav li:first-of-type {
          padding: 0;
          margin-right: 1em; }
        body .container .top-menu .nav li:last-of-type {
          padding: 0;
          margin-left: -1em; }
  body .container .headline {
    height: 60ex; }
    body .container .headline h1 {
      padding-top: 2ex;
      font-size: 4em; }
    body .container .headline article {
      width: 100%;
      margin-left: 0; }
  body .container .about .menu, body .container .portfolio .menu, body .container .resume .menu {
    width: 100%; }
    body .container .about .menu .nav, body .container .portfolio .menu .nav, body .container .resume .menu .nav {
      width: 110%;
      margin-left: -2.5em;
      margin-right: 0; }
      body .container .about .menu .nav li, body .container .portfolio .menu .nav li, body .container .resume .menu .nav li {
        float: right;
        margin-right: 0;
        width: 25%;
        text-align: center; }
        body .container .about .menu .nav li a[href], body .container .portfolio .menu .nav li a[href], body .container .resume .menu .nav li a[href] {
          font-weight: 400;
          padding: 0;
          border: 0; }
          body .container .about .menu .nav li a[href].this-one, body .container .portfolio .menu .nav li a[href].this-one, body .container .resume .menu .nav li a[href].this-one {
            background-color: #fff;
            color: #00d33f;
            margin-right: 0; }
          body .container .about .menu .nav li a[href]:first-of-type, body .container .portfolio .menu .nav li a[href]:first-of-type, body .container .resume .menu .nav li a[href]:first-of-type {
            padding: 0; }
          body .container .about .menu .nav li a[href]:last-of-type, body .container .portfolio .menu .nav li a[href]:last-of-type, body .container .resume .menu .nav li a[href]:last-of-type {
            padding: 0; }
  body .container .about {
    margin-bottom: 14ex; }
    body .container .about .name {
      width: 100%; }
    body .container .about h2 {
      width: 100%;
      text-align: left; }
    body .container .about .email {
      margin-left: 0.5em; }
    body .container .about article {
      width: 100%;
      margin: 0; }
      body .container .about article a {
        padding: 0; }
      body .container .about article ul {
        width: 75%;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 7ex;
        border-radius: 0;
        border-bottom: 0;
        border-left: 0; }
        body .container .about article ul li {
          margin-left: 5%;
          margin-right: 0; }
      body .container .about article img {
        width: 6em;
        top: 26ex;
        left: 60%; }
  body .container .portfolio .name {
    width: 100%; }
  body .container .portfolio h2 {
    width: 100%;
    text-align: center;
    padding: 0; }
  body .container .portfolio .port-left {
    width: 100%;
    margin: 0;
    border: 0; }
    body .container .portfolio .port-left .heading {
      width: 100%; }
      body .container .portfolio .port-left .heading img {
        border: 2px solid #00A030; }
      body .container .portfolio .port-left .heading a {
        line-height: normal; }
    body .container .portfolio .port-left .overview {
      width: 100%;
      margin: 0; }
      body .container .portfolio .port-left .overview p {
        margin-top: 0;
        margin-bottom: 0; }
  body .container .portfolio .port-right {
    width: 100%;
    margin: 0;
    border: 0; }
    body .container .portfolio .port-right .heading {
      width: 100%; }
      body .container .portfolio .port-right .heading img {
        border: 2px solid #00A030; }
      body .container .portfolio .port-right .heading h4 {
        line-height: normal; }
    body .container .portfolio .port-right .overview {
      width: 100%;
      margin: 0; }
      body .container .portfolio .port-right .overview p {
        margin-top: 0;
        margin-bottom: 0; }
  body .container .resume .name {
    width: 100%;
    margin: 0;
    margin-top: 0.5ex;
    padding-left: 2.5%; }
    body .container .resume .name svg {
      width: 25px;
      height: 25px;
      margin-left: 0;
      padding-bottom: 0; }
    body .container .resume .name img {
      width: 25px;
      height: 25px;
      margin-left: 0;
      padding-bottom: 0; }
    body .container .resume .name .email {
      margin-left: 0; }
  body .container .contact h1 {
    font-size: 4em; }
  body .container .contact article {
    width: 100%;
    margin-left: 0; }
  body .container .contact .menu {
    width: 100%; }
    body .container .contact .menu .van {
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
      body .container .contact .menu .van li {
        float: right;
        margin-right: 0;
        width: 25%; }
        body .container .contact .menu .van li a[href] {
          font-weight: 400;
          padding: 0;
          border: 0; }
          body .container .contact .menu .van li a[href].this-one {
            background-color: #00A030;
            color: #fff;
            text-decoration: underline;
            margin-right: 0; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
