body {
.about {
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    .name {
      width: 100%*(7/8);
      margin-left: 100%*(1/8);
      padding: 1ex 1em .75ex;
      text-align: left;
      color: #fff;
      font-weight: 300;
      font-size: 3em;
      background-color: $Grinch;
      line-height: 0;
      margin-bottom: 0;
     .email {
        display: inline;
        width: 35px;
        height: 35px;
        margin: 0;
        padding-bottom: .25ex;
     }
    }
    article {
        margin-top: -3ex;
        border-left: 2px solid $Grinch;
        border-bottom: 2px solid $Grinch;
        border-radius: 20px;
        padding-top: 3ex;
      ul {
        font-size: 1.2em;
        font-weight: 100;
        text-align: left;
        list-style: none;
        li {
          font-size: 1.2em;//CHANGED
          a {
            text-decoration: none;
            color: $Grinch;
            padding: 2px;
            border-radius: 3px;
            &:hover {
              text-decoration: underline;
           }
          }
        }
      }
      img {
        position: absolute;
        top: 32ex;//CHANGED
        left: 100%*(2/3);//CHANGED
        width: 12em;//CHANGED
        border-radius: 50%;
        border: 2px solid $Grinch;
      }
    }
  }//.about
}
