$Grinch: #00A030;

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  .container {
    .nav {
      box-sizing: border-box;
      position: absolute;
      top: -6ex;
      width: 100% * (1/2);//CHANGED
      margin-left: 100% * (1/2);//CHANGED
      li {
        display: block;
        float: right;
        margin-right: 2em;//CHANGED
        list-style: none;
        padding-left: 0;
        a[href] {
          text-decoration: none;
          color: $Grinch;
          font-weight: 100;
          padding: 0.5ex 0.5em;//CHANGED
          border: 1px solid $Grinch;
          border-radius: 3px;
        }
      }
    }
  }
  .headline {
    box-sizing: border-box;
  	background-color: $Grinch;/*rgba(13, 6, 48, 1)*/
    height: 100vh;
    h1 {
      background-color: $Grinch;/*rgba(13, 6, 48, 1)*/
      text-align: center;
      color: #ffffff;
      font-weight: 100;
      font-size: 5em;
      padding-top: 5ex;
      line-height: 0.5ex;
    }
    article {
      width: 100% * (1/2);
      margin-left: 100% * (1/4);
      p {
        color:#ffffff;
        font-size: 1.5em;
        font-weight: 100;
        text-align: center;
        line-height: 2ex;
      }
      svg {
        width: 35px;
        height: 35px;
        fill: white;
        margin-left: 1em;
      }
      img {
        width: 35px;
        height: 35px;
        fill: white;
        margin-left: 1em;
      }
      .email {
        margin-left: 0;
      }
    }
  }///.headline
}//body
