body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 0 auto;
  main.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    .headline {
      box-sizing: border-box;
      width: 100%;
      margin: 0 auto;
    	background-color: $Grinch;/*rgba(13, 6, 48, 1)*/
      height: 100vh;
      color: #fff;
      h1 {
        text-align: center;
        font-weight: 100;
        font-size: 5em;
        padding-top: 5ex;
        line-height: 0.5ex;
      }
      div {
        p {
          font-size: 1.5em;
          font-weight: 100;
          text-align: center;
          line-height: 2ex;
        }
        svg {
          width: 35px;
          height: 35px;
          fill: #fff;
          margin-left: 1em;
        }
        img {
          width: 35px;
          height: 35px;
          fill: white;
          margin-left: 1em;
        }
        .email {
          margin-left: 0;
        }
      }
    }///.headline
  } //main.container
}//body
