body {
.contact {
  box-sizing: border-box;
  display: block;
  clear: both;
  background-color: $Grinch;/*rgba(13, 6, 48, 1)*/
  height: 100vh;
  // box-sizing: border-box;
  width: 100%;
  position: relative;
  // height: 212ex;//CHANGED
  // padding-top: 3ex;
  // padding-bottom: 5ex;
  margin-top: 0;
  h1 {
    background-color: $Grinch;//CHANGED
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    font-size: 5em;//CHANGED
    padding-top: 5ex;
    line-height: 0.5ex;
  }
  article {
    width: 100% * (1/2);
    margin-left: 100% * (1/4);
    p {
      color:#ffffff;
      font-size: 1.5em;
      font-weight: 100;
      text-align: center;
      line-height: 2ex;
    }
    svg {
      width: 55px;//CHANGED
      height: 55px;//CHANGED
      fill: white;
      margin-left: 1em;
    }
    img {
      width: 55px;//CHANGED
      height: 55px;//CHANGED
      fill: white;
      margin-left: 1em;
    }
    .email {
      margin-left: 0;
    }
    .van {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
      // width: auto;//CHANGED
      // margin-left: auto;//CHANGED
      li {
        display: block;
        float: right;
        margin-right: 2em;//CHANGED
        list-style: none;
        padding-left: 0;
        a[href] {
          text-decoration: none;
          color: #fff;/*rgba(13, 6, 48, 1)*/
          font-weight: 100;
          padding: 0.5ex 0.5em;//CHANGED
          border: 1px solid #fff;
          border-radius: 3px;
          &.this-one{
            background-color: #fff;
            color: $Grinch;
            border: 1px solid #fff;
            border-radius: 3px;
          }
        }
      }
    }
  }
}//.contact
}
