main.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
} //main.container

header {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  h1.blogname {
    display: inline-block;
  }
} // Header

section.feature {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  article {
    box-sizing: border-box;
    width:100%;
    margin: 10px auto;
    padding: 2em;
    display: inline-block;
  } //.feature article
} //section.feature

aside.sidebar {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  article {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
  } //Aside Article
} //Aside

footer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
} // Footer
