header {
  background-color: darkgray;
  position: relative;
  h1.blogname {
    position:absolute;
    color: black;
    font-weight: 100;
  }
  .monkey-icon {
    position:absolute;
  }

// .hamburger::before {
//   content: '\2261';
//   color: black;
//   font-size: 4em;
//   text-decoration: none;
//   position: absolute;
//   top: 0.2ex;
//   right: 0.8em;
// }


  nav.slider {
    box-sizing: border-box;
    margin: 2.5ex 5%;
    // width: 50%;
    display: block;
    float:right;
    // margin: 0  auto;
    // display: none;
    a {
      text-decoration: none;
      display:block;
      text-align: right;
      color: black;
      font-weight: 100;
    }
  } // Nav
} // Header
