@media (max-width: 27em) {
body {
  .container {
    .top-menu {
      width: 100%;
      .nav {
        box-sizing: border-box;
        position: absolute;
        top: -6ex;
        width: 95%;//CHANGED
        margin-left: 2.5%;//CHANGED
        margin-right: 2.5%;//CHANGED
        li {
          float: left;
          margin-right: 0;//CHANGED
          width: 100% * (1/4);
          a[href] {
            font-weight: 400;
            padding: 0;//CHANGED
            border: 0;
          }
          &:last-of-type {
            padding: 0;
            margin-right: 0;
          }
        }
      }
    }//.top-menu
    .headline {
      h1 {
        font-size: 4em;
      }
      article {
        width: 100%;
        margin-left: 0;
      }
    }//.headline
    .about, .portfolio, .resume, .contact {
      .menu {
        width: 100%;
        .nav, .van {
          width: 95%;//CHANGED
          margin-left: 2.5%;//CHANGED
          margin-right: 2.5%;//CHANGED
          li {
            float: left;
            margin-right: 0;//CHANGED
            width: 100% * (1/4);
            a[href] {
              font-weight: 400;
              padding: 0;//CHANGED
              border: 0;
              &.this-one {
                background-color: #fff;
                color: $Grinch;
                text-decoration: line-through;
                margin-right: 0;
              }
            }
          }
        }
      }
    }//.about, .portfolio, .resume
    .about {
      .name {
        width: 100%;
      }
      h2 {
        width: 100%;
        text-align: left;
      }
      .email {
        margin-left: 0.5em;
      }
      article {
        width: 100%;
        margin: 0;
        a {
          padding: 0;
        }
        ul {
          width: 70%;
          margin-left: 0;
          margin-right: 0;
          padding-bottom: 7ex;
          border-radius: 0;
          border-bottom: 0;
          border-left: 0;
          border-bottom: 2px solid $Grinch;
          border-right: 2px solid $Grinch;
          li {
          margin-left: 5%;
          margin-right: 0;
          }
        }//ul
        img {
          top: 125ex;
          left: 53%;
        }
      }//article
    }//.about
    .portfolio  {
      .name {
        width: 100%;
      }
      h2 {
        width: 100%;
        text-align: center;
        padding: 0;
      }
      .port-left, .port-right {
        width: 100%;
        margin: 0;
        height: auto;
        .heading {
          width: 100%;
          img {
            border: 1px solid #000;
          }
        }
        .overview {
          width: 100%;
        }
      }
    }//.portfolio
    .resume {
      display: block;
      margin-top: 210ex;
      height:210ex;
      .nav {
        top: 502ex;
      }
      .name {
        width: 100%;
        margin: 0;
        margin-top: 0.6ex;
        padding-left: 10%;
        svg {
        width: 25px;
        height: 25px;
        margin-left: 0;
        padding-bottom: 0;
        }
        img {
          width: 25px;
          height: 25px;
          margin-left: 0;
          padding-bottom: 0;
        }
        .email {
          margin-left: 0;//CHANGED
        }
      }
    }//.resume
    .contact {
      h1 {
        font-size: 4em;
      }
      article {
        width: 100%;
        margin-left: 0;
      }
    }//.contact
  }//.container
}//body
}//media query
