body {
  .portfolio {
    // box-sizing: border-box;
    position: relative;
    padding-top: 5ex;
    padding-bottom: 5ex;
    margin-top: 1ex;
    .name {
      box-sizing: border-box;
      display: block;
      width: 75%;
      margin: 0 100%*(1/8) 3ex 0;
      padding: 1.75ex 1em;
      text-align: right;
      color: #fff;
      font-weight: 300;
      font-size: 3em;
      background-color: $Grinch;
      line-height: 0;
    }
    .port-left {
      box-sizing: border-box;
      width: 100%* (2/3);//CHANGED
      margin-right: 100%*(1/6);//CHANGED
      margin-left: 100%*(1/6);//CHANGED
      border: 2px solid $Grinch;//CHANGED
      .heading {
        box-sizing: border-box;
        float: left;
        padding: 2ex 2em;
        img {
          box-sizing: border-box;
          width: 20ex;//CHANGED
          height: 20ex;//CHANGED
          border-radius: 50%;//CHANGED
          margin-left: 0;//CHANGED
          border: 2px solid $Grinch;
        }
        h3 {
          text-align: left;//CHANGED
          color: $Grinch;//CHANGED
          font-weight: 100;
          font-size: 1.5em;//CHANGED
          line-height: 0;
        }
        h4 {
          text-align: left;//CHANGED
          color: $Grinch;//CHANGED
          font-weight: 100;
          font-size: 1em;//CHANGED
          line-height: 0;
          a {
            text-decoration: none;
            color: $Grinch;//CHANGED
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .overview {
      box-sizing: border-box;
      width: 50%;
      float: right;
      padding: 2ex 2.5em;//CHANGED
        p {
          color: #000;
          font-size: 0.9em;//CHANGED
          a[href] {
            text-decoration: none;
            color: $Grinch;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
      .port-left::after {
          content: "";
          display: table;
          clear: both;
      }
      .port-right::after {
          content: "";
          display: table;
          clear: both;
      }
    .port-right {
      box-sizing: border-box;
      width: 100%* (2/3);//CHANGED
      margin-right: 100%*(1/6);//CHANGED
      margin-left: 100%*(1/6);//CHANGED
      .overview {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 2ex 2.5em;//CHANGED
        p {
          height: 21.5ex;
          color: #000;
          font-size: 0.9em;//CHANGED
        a[href] {
          text-decoration: none;
          color: $Grinch;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      }
      .heading {
        box-sizing: border-box;
        width: 50%;
        float: right;
        padding: 3ex 2em;//CHANGED
        border-left: 2px solid $Grinch;
        img {
          box-sizing: border-box;
          width: 20ex;//CHANGED
          height: 20ex;//CHANGED
          border-radius: 50%;//CHANGED
          margin-left: 0;//CHANGED
          border: 2px solid $Grinch;
        }
        h3 {
          text-align: left;//CHANGED
          color: $Grinch;//CHANGED
          background-color: #fff;
          font-weight: 100;
          font-size: 1.5em;//CHANGED
          line-height: 0;
        }
        h4 {
          text-align: left;//CHANGED
          color: $Grinch;//CHANGED
          font-weight: 100;
          font-size: 1em;//CHANGED
          line-height: 0;
          a {
            text-decoration: none;
            color: $Grinch;//CHANGED
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }//.heading
    }//.port-right
  }//.portfolio
}//body
