body {
.resume {
  // box-sizing: border-box;
  width: 100%;
  position: relative;
  // height: 212ex;//CHANGED
  display: block;
  padding-top: 5ex;
  padding-bottom: 5ex;
  margin-top: 1ex;
  a[href] {
    text-decoration: none;
    color: $Grinch;
    &:hover {
      text-decoration: underline;
    }
  }
  .name {
    font-size: 2.5em;
  }
    .name {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 1.5ex 1em 0.75ex;
      text-align: left;
      line-height: 0;
      color: #fff;
      font-weight: 300;
      font-size: 3em;
      background-color: $Grinch;
      svg {
        width: 35px;
        height: 35px;
        fill: white;
        padding-bottom: 0.25ex;
        margin-left: 0.25em;
      }
      img {
        width: 35px;
        height: 35px;
        fill: white;
        margin-left: 0.25em;
        padding-bottom: 0.25ex;
      }
      .email {
        margin-left: 1em;//CHANGED
      }
    }
    .resume-details {
      padding-top: 2ex;
    article {
      padding-top: 2ex;
      width: 100%;//CHANGED
      margin: 0;//CHANGED
      font-size: 1em;//CHANGED
      h3 {
        width: 100%;
        text-align: center;
        color: $Grinch;
        font-weight: 100;
        font-size: 1.5em;
        line-height: 0;
      }
      p {
        text-align: center;
        span {
          color: $Grinch;
        }
      }
      .jobs {
      width: 100%;//CHANGED
      font-size: 1em;//CHANGED
      border-bottom: 2px solid $Grinch;
      padding: 0.75ex 0 2.25ex;
        h4 {
          padding-top: 2ex;
          text-align: center;
          color: $Grinch;
          font-weight: 100;
          line-height: 0;//CHANGED
       }
        p {
          line-height: 0;//CHANGED
          font-size:1em;//CHANGED
        }
      }
    }
    .list-o-things {
      display: block;
      width: 75%;
      margin-left: 25%;
      margin-bottom: 2ex;
    }
  }
  }//.resume
}
