@media (max-width: 68.45em) {
  body {
    .container {
      .nav {
        li {
          margin-right: 1em;
          a[href] {
            padding: 0.25ex 0.25em;
          }
        }
      }
      .about {
        .nav {
          li {
            margin-right: 1em;
            a[href] {
              padding: 0.25ex 0.25em;
            }
          }
        }
        article {
            ul {
              padding-top: 3ex;
              padding-bottom: 3ex;
              padding-left: 3em;
            }
          img {
            top: 129ex;
            width: 10em;
          }
        }
      }//.about
      .portfolio {
        .nav {
          li {
            margin-right: 1em;
            a {
              padding: 0.25ex 0.25em;
            }
          }
        }
        .port-left {
          .overview {
            padding: 1ex 2.5em;
          }
        }
        .port-right {
          .overview {
            padding: 1ex 2.5em;
          }
        }
      }//.portfolio
      .resume {
        .nav {
          li {
            margin-right: 1em;
            a[href] {
              padding: 0.25ex 0.25em;
            }
          }
        }
        article {
          .jobs {
            padding: 1ex 1.5em;
            font-size: 0.9em;
            p {
              font-size: 0.9em;
            }
          }
        }
      }//.resume
      .contact {
        article {
          .van {
            li {
              margin-right: 1em;
              a[href] {
                padding: 0.25ex 0.25em;
              }
            }
          }
        }
      }//.contact
    }
  }//body
}//media query max-width 68.45

@media (max-width: 55.25em) {
  body {
    .container {
      .nav {
        width: 100% * (3/4);
        margin-left: 100% * (1/4);
      }
    .about {
      .nav {
        width: 100% * (3/4);
        margin-left: 100% * (1/4);
      }
      article {
        margin-left: 0;
        img {
          top: 122ex;
          width: 8em;
          left: 55%;
        }
        a {
          padding: 0;
        }
        ul {
          font-size: 1em;
          margin-left: 20%;
          padding-top: 1ex;
          padding-bottom: 1ex;
          padding-left: 1em;
          li {
            font-size: 1em;
          }
        }
      }
    }//.about
    .portfolio {
      .nav {
        width: 100% * (3/4);
        margin-left: 100% * (1/4);
      }
      .port-left {
        width: 95%;
        height: auto;
        padding-top: 0.5ex;
        padding-bottom: 4ex;
        margin-right: 2.5%;
        margin-left: 2.5%;
        border: 2px solid #fff;
        border-top: 2px solid $Grinch;
        .overview {
          padding: 0 1em;
          p {
            font-size: 0.8em;
          }
        }
        .heading {
          background-color: #fff;
          // padding: 2ex 2em;
          border: 0;
          img {
            width: 70%;
            height: 70%;
            margin-left: 15%;
            border-radius: 0;
          }
          h3 {
            text-align: center;
            font-size: 1.25em;
            color: $Grinch;
          }
          h4 {
            text-align: center;
            font-size: 0.8em;
            color: $Grinch;
            a {
              color: $Grinch;
            }
          }
        }
      }
      .port-right {
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        border: 2px solid #fff;
        border-top: 2px solid $Grinch;
        .overview {
          padding: 0 1em;
          p {
            font-size: 0.8em;
          }
        }
        .heading {
          padding: 2ex 2em;
          background-color: #fff;
          img {
            width: 70%;
            height: 70%;
            margin-left: 15%;
            border-radius: 0;
          }
          h3 {
            text-align: center;
            font-size: 1.25em;
            color: $Grinch;
          }
          h4 {
            text-align: center;
            font-size: 0.8em;
            color: $Grinch;
            a {
              color: $Grinch;
            }
          }
        }
      }
    }//.portfolio
    .resume {
      height: 197ex;
      .nav {
        width: 100% * (3/4);
        margin-left: 100% * (1/4);
      }
        .name {
          padding-left: 1em;
          .email {
            margin-left: 0.25em;
          }
        }
      article {
        width: 90%;
        margin-left: 5%;
        font-size: 0.9em;
        .jobs {
        width: 100%;
        margin-top: 0;
        padding: 0 2em;
        height: 100%;
        &:first-of-type {
          h4 {
          padding-top: 0;
          }
        }
          h4 {
            line-height: 1ex;
            padding-top: 3ex;
            padding-bottom: 1ex;
            border-bottom: 1px solid $Grinch;
          }
          p {
            line-height: 1ex;
          }
          &:nth-of-type(odd) {
            border: 0;
          }
          &:nth-of-type(2) {
            border: 0;
          }
          &:nth-of-type(even) {
            border: 0;
          }
        }
      }
    }//.resume
    .contact {
      h1 {
        font-size: 4em;
      }
      article {
        svg {
          width: 35px;
          height: 35px;
        }
        img {
          width: 35px;
          height: 35px;
        }
        .van {
          width: 100% * (3/4);
          margin-left: 100% * (1/4);
        }
      }
    }//.contact
    }//.container
  }//body
}//media query max-width 55.25em
