@media (min-width: 601px) {
header {
  height:16ex;
  h1.blogname {
    top: 0;
    font-size: 3.5em;
    left: 1em;
  }
  .monkey-icon {
    left: 18em;
    top: 2.2ex;
    width: 8em;
  }
  nav.slider {
    box-sizing: border-box;
    margin: 2.5ex 5%;
    a {
      font-size: 1.4em;
    }
  } // Nav
}

header {
  background-color: darkgray;
  position: relative;
  h1.blogname {
    position:absolute;
    color: black;
    font-weight: 100;
  }
  .monkey-icon {
    position:absolute;
    left: 18em;
    top: 2.5ex;
    width: 8em;
  }
section.feature {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  article {
    width:80% * (1/2);
    margin: 10px 2.5%;
    padding: 1em;
    display: block;
    float: left;
    background-color: teal;
  } //.feature article
} //section.feature
}//header

  footer {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 3ex auto 0;
    display:inline-block;
    background-color: darkgray;
    padding: 2ex 2em;
    font-size: .8em;
    .contact {
      margin-left: 5%;
      float: left;
      ul {
        position: absolute;
        right: 5em;
        top: 2ex;
        list-style-type: none;
        padding-left: 0;
        text-align: right;
      }
    }
  }//.footer
}//mediaquery
